<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested path is a file or directory, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, redirect all other requests to index.html
  RewriteRule ^ index.html [L]
</IfModule>